
#player-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7c7c7c;
}

#player-song {
    display: flex;
    align-items: center;
}

#player-song > div {
    margin-left: 20px;
}

#player-song > div > h3 {
    color: white;
    font-size: 14px;
}

#player-song > div > h4 {
    font-size: 12px;
}

#player-left > div > span {
    padding-right: 10px;
    font-size: 20px;
}








.blue {
    height: 80px;
    background-color: blue;
}

.img-holder {
    background-color: white;
    height: 50px;
    width: 50px;
}