*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    border-style: none;
    list-style: none;
}

/*********
 *GENERAL*
 *********/

 #upper-container {
    display: flex;
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
}

#upper-container > nav {
    width: 300px;
}

#upper-container > main {
    flex-grow: 1;
}

.player {
    background-color: #282828;
    height: 100px;
}

.middle-flex {
    display: flex;
    align-items: center;
}




/***********
 *MAIN LEFT*
 ***********/

    /* general navigation */

    #upper-container > nav {
        background-color: black;
        color: #6f6f6f;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
    }
    
    #gen-l-nav > img {
        margin: 20px auto;
        width: 200px;
    }
    
    #gen-l-nav > a {
        margin: 10px;
        color: #d2d2d2;
    }
    
    #gen-l-nav > a > div > div > img {
        width: 40px;
    }
    
    #gen-l-nav > a > div > h2 {
        font-size: 18px;
        padding-left: 5px;
    }




    /* playlist navigation */

    #nav-playlist {
        flex-grow: 1;
    }

    #nav-playlist > h2 {
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    #nav-playlist > div > button {
        background-color: #a3a3a3;
    }
    
    #nav-playlist > div > span {
        font-weight: 700;
        padding-left: 10px;
        font-size: 20px;
    }
    
    #nav-playlist > ul {
        margin-top: 15px;
        line-height: 35px;
        overflow: auto;
    }
    
    #nav-playlist > ul > li > a {
        color: #6d6d6d;
        font-size: 16px;
        font-weight: 600;
    }




    /* footer */

    #general-nav-footer > div {
        display: flex;
        margin: 10px;
    }
    
    #general-nav-footer img {
        width: 20px;
    }
    
    #general-nav-footer > div > span {
        margin-right: 10px;
    }
    
    #general-nav-footer > div h5 {
        color: white;
        font-size: 16px;
        line-height: 30px;
    }
    
    #general-nav-footer-prof {
        border-top: solid #808080 2px;
        padding-top: 10px;
    }
    
    #general-nav-footer-prof > div {
        background-color: #808080;
        margin-right: 10px;
        padding: 0px 5px;
        border-radius: 50%;
    }
    
    #general-nav-footer-prof > img {
        font-size: 25px;
    }
    
    








/************
 *MAIN RIGHT*
 ************/


    /* header */

    #upper-container > main {
        background-color: #141922;
    }
    
    #upper-banner {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100px;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 10;
    }
    
    #upper-banner > button {
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: solid white 2px;
        border-radius: 20px;
        float: right;
        margin: 30px;
    }




    /* main content */

    #main-nav-right {
        margin-top: 120px;
        text-align: center;
    }
    
    #main-nav-right > a {
        color: #7d7f84;
        margin: 15px;
        font-size: 14px;
        font-weight: 600;
    }

    #main-content > div h2 {
        color: white;
        margin-left: 20px;
        margin-top: 50px;
    }
    
    #main-content > div h3, h4 {
        margin-bottom: 10px;
    }
    
    #main-content > div h3 {
        color: white;
    }
    
    #main-content > div h4 {
        color: #7d7f84;
    }

















/********
 *PLAYER*
 ********/


    /* left */

    #player-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #7c7c7c;
    }
    
    #player-song {
        display: flex;
        align-items: center;
    }
    
    #player-song > div {
        margin-left: 20px;
    }
    
    #player-song > div > h3 {
        color: white;
        font-size: 14px;
    }
    
    #player-song > div > h4 {
        font-size: 12px;
    }
    
    #player-left > div > span {
        padding-right: 10px;
        font-size: 20px;
    }



    /* middle */

    .player > div {
        text-align: center;
    }
    
    .player > div span {
        font-size: 22px;
        margin: auto 10px;
        color: white;
    }
    
    #play-button {
        font-size: 30px;
    }
    
    #song-status {
        display: flex;
        align-items: center;
    }
    
    #song-status span {
        font-size: 14px;
    }
    
    #song-status > div {
        padding-top: 10px;
    }

    



    /* right */

    #player-right {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 16px;
    }
    
    #player-right > div {
        margin-right: 20px;
        word-spacing: 10px;
    }
    
    .time-bar {
        flex-grow: 1;
    }
    
    .time-bar > hr {
        background-color: #5a5a5a;
        height: 5px;
        border-radius: 20px;
    }