*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/*********
 *GENERAL*
 *********/

 #upper-container {
    display: flex;
    height: calc(100vh - 100px);
}

#upper-container > nav {
    width: 300px;
}

#upper-container > main {
    flex-grow: 1;
}

.player {
    background-color: #282828;
    height: 100px;
}




/***********
 *MAIN LEFT*
 ***********/

    /* general navigation */

    #upper-container > nav {
        background-color: black;
    }
    
    #gen-l-nav > img {
        margin: 20px;
        width: 200px;
    }
    
    #gen-l-nav > a {
        margin: 10px;
        color: #d2d2d2;
    }
    
    .gen-l-nav-flex {
        display: flex;
        align-items: center;
    }
    
    .gen-l-nav-flex > div > img {
        width: 40px;
        margin-left: 20px;
    }
    
    .gen-l-nav-flex > h2 {
        font-size: 18px;
        padding-left: 5px;
    }




    /* playlist navigation */

    







/************
 *MAIN RIGHT*
 ************/








/********
 *PLAYER*
 ********/


    /* left */

    #player-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #7c7c7c;
    }
    
    #player-song {
        display: flex;
        align-items: center;
    }
    
    #player-song > div {
        margin-left: 20px;
    }
    
    #player-song > div > h3 {
        color: white;
        font-size: 14px;
    }
    
    #player-song > div > h4 {
        font-size: 12px;
    }
    
    #player-left > div > span {
        padding-right: 10px;
        font-size: 20px;
    }



    /* middle */



    /* right */

    #player-right {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 16px;
    }
    
    #player-right > div {
        margin-right: 20px;
        word-spacing: 10px;
    }
    
    .time-bar {
        flex-grow: 1;
    }
    
    .time-bar > hr {
        background-color: #5a5a5a;
        height: 5px;
        border-radius: 20px;
    }